<footer class="footer-basic-centered">

	<div class="footer-company-name">
		<h1>TellForm</h1>
		<small>OPEN SOURCE FORM CREATOR</small>
		<hr>
	</div>

	<p class="footer-links">
		<a href="/">Home</a>
		<a href="/about">About Us</a>
		<a href="mailto:team@tellform.com">Contact Us</a>
        <a href="https://api.tellform.com">API</a>
		<a href="https://github.com/tellform/tellform">Browse the Source</a>
		<a href="https://tellform.statuspage.io">System Status</a>
		<a href="https://admin.tellform.com/#!/signup">Register</a>
	</p>

	<p class="footer-copyright">TellForm © 2016</p>

	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</footer>
