body {
	overflow-x: hidden;
	font-family: 'Source Sans Pro', sans-serif;
}

p {
	line-height:170%;
}

/*Navbar Custom CSS*/
.navbar-inverse {
	background-color:#ECEEF0;
	border: 0;
	margin-bottom: 0;
}
.navbar-header {
	padding: 15px;
	text-align: center;
	width: 100%;
}
.navbar-toggle, .navbar-brand {float:none;}

.navbar-nav > li > a{
	padding-top: 0;
	font-weight:500;
}
.navbar .navbar-header {
	display: inline-block;
	float: none;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar > .container-fluid .navbar-brand {
	font-size: 1.6em;
	font-weight: 900;
	color: rgb(255,131,131);
	margin-left: 0;
	padding-bottom: 0;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:visited {
	color: #FA787E;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #BDBDBD!important;
}
.navbar li.dropdown a.dropdown-toggle:hover > *{
	color: black;
}
.navbar li.dropdown a.dropdown-toggle > *{
	color: #d9d9d9;
}
.navbar li.dropdown.open a.dropdown-toggle:hover > *{
	color: white;
}
.navbar .navbar-brand span {
	text-decoration: underline;
}
.nav.navbar-nav.navbar-right li {
	padding-right: 20px;
}

.navbar-inverse .navbar-nav>li>a, .navbar li.dropdown a.dropdown-toggle > * {
    color: rgb(131,131,131);
}
.navbar-inverse .navbar-nav .active > a, .navbar li.dropdown.open a.dropdown-toggle > *, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: rgb(131,131,131);
    color: white!important;
}
.navbar-inverse .navbar-toggle {
	background-color: #ddd;
	border:none;
}
.navbar-inverse .navbar-collapse{
	border: none;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

section {
	padding: 2em 0 5em 0;
}
section .row {
	padding-bottom: 1em;
}
hr {
	border-color: inherit;
}

/*Hero Section CSS*/
section.hero-section {
	padding-top: 0;
	background-color: #ECEEF0;
	color: #919496;
}

section.hero-section .btn-row {
	padding-top:2.5em;
}

section.hero-section .btn-info.btn {
	font-size: 0.9em;
	padding: .8em 2.2em .8em 2.2em;
	border-radius: 3em;
}
section.hero-section .signup-btn {
	background-color:#ACAFB1;
	color: white;
	border: none;
    margin-top: 1em;
}

section.hero-section .demo-btn {
    margin-top: 1em;
	background-color: #ECEEF0;
	color: #7F8183;
	border-color: #DADBDD;
	border-width: 0.2em;
}

.hero-section .demo-btn:focus, .hero-section .demo-btn:hover {
	color: #ECEEF0;
	background-color: #7F8183;
	border-color: #7F8183;
}


section.hero-section .row-img {
	padding-top: 3em;
	padding-bottom: 5em;
	border-radius: 1em;
}

/*
** Features Section
*/

.features-section {
	background: white;
	color: #C2C5C6
}

.features-section .row.intro > h1 {
	color: #7B7D7F;
	font-size:2.5em;
	font-weight:500;
	padding-bottom: 0.8em;
}

.features-section .row.intro > p {
	color: #7B7D7F;
	font-size:1.2em;
	font-weight:300;
}

.features-section .row-list {
	padding: 2em 0;
}
.features-section .row-list .header {
	text-transform: uppercase;
	font-weight: 600;
	color: #7b7d7f;
}
.features-section .row-list .description {
	font-size: 1.2em;
	font-weight:300;
	margin-left: 1.2em;
	margin-top: 0.2em;
}

/*
** Opensource Section
*/

.opensource-section {
	background-color: #ECEEF0;
	color: #919496;
}

.opensource-section .row-list {
	padding-bottom: 4em;
	padding-top: 1.5em;
}

.opensource-section .row-list .header {
	text-transform: uppercase;
	font-weight: 600;
	color: #7b7d7f;
	padding-bottom: 1em;
}

.opensource-section .row-list .description {
	font-size: 1em;
	font-weight:300;
}

/*
** Testimonials Section
*/

.testimonials-section {
	background: white;
	color: #C2C5C6
}

.testimonials-section h1 {
	color: #7B7D7F;
	text-transform: uppercase;
	font-weight: 700;
	font-size:2.5em;
}

/*
** Hosting Section
*/

.host-section {
	background-color: #ECEEF0;
	color: #919496;
}
.host-section .btn-row {
	padding-top:2.5em;
}

.host-section .demo-btn {
	font-size: 0.9em;
	padding: .8em 2.2em .8em 2.2em;
	border-radius: 3em;
	background-color: #ECEEF0;
	color: #7F8183;
	border-color: #DADBDD;
	border-width: 0.2em;
	margin-right:4.5em;
}

.host-section .demo-btn:focus, .host-section .demo-btn:hover {
	color: #ECEEF0;
	background-color: #7F8183;
	border-color: #7F8183;
}

/*
** Stats Section
*/

.stats-section {
	background: white;
	color: #C2C5C6
}

.stats-section .stat-icon {
	font-size: 2.5em;
}
.stats-section .stat-num {
	font-size: 2.5em;
	font-weight: 900;
	color: #7B7D7F;
}
.stats-section .stat-name {
	font-size: 1em;
	color: #7B7D7F;
	font-weight: 700;
	text-transform: uppercase;
}

.stats-section .stat-description {
	font-size: 0.8em;
	color: #7B7D7F;
	font-weight: 500;
	padding-top: 0.2em;
}

.stats-section .stat-description hr {
	width: 5%;
	border-width: 0.2em;
	border-color: #7B7D7F;
}

/*
** Newsletter Section
*/

.newsletter-section {
	background-image: url("http://brainandstorm.com/wp-content/uploads/CN-Tower-Grey-Skies-1600.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -150px;
	color: #7B7D7F;
	padding-bottom: 7em;
	padding-top: 3em;
}

.newsletter-section h1 {
	padding-bottom: 0.2em;
}

.newsletter-section form {
	padding-bottom: 2em;
	padding-top: 3em;
}

.newsletter-section form input[type="email"] {
	padding: .8em 2.2em;
	border-radius: 0.2em;
	border: none;
	color: #7B7D7F;
	width: 100%
}

.newsletter-section form input[type="submit"] {
	font-size: 1.0em;
	padding: .8em 2.2em;
	border-radius: 0.2em;
	background-color:#DADBDD;
	color: #7B7D7F;
	margin-left:4.5em;
}
