body {
	overflow-x: hidden;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

p {
	line-height:170%;
}

h1 {
	font-size: 32px;
	font-weight: 500;
}

/*Navbar Custom CSS*/
.navbar-inverse {
	background-color: transparent;
	border: 0;
	margin-bottom: 0;
}
.navbar-header {
	padding: 26px;
	text-align: center;
	width: 100%;
}
.navbar-toggle, .navbar-brand {float:none;}

.navbar-nav > li > a{
	padding-top: 0;
	font-weight:500;
}
.navbar .navbar-header {
	display: inline-block;
	float: none;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar > .container-fluid .navbar-brand {
	font-size: 1.6em;
	font-weight: 900;
	margin-left: 0;
	padding-bottom: 0;
}
.navbar .navbar-brand img {
	display:inline;
	width: 66px;
}

.navbar li.dropdown a.dropdown-toggle:hover > *{
	color: black;
}
.navbar li.dropdown a.dropdown-toggle > *{
	color: #d9d9d9;
}
.navbar li.dropdown.open a.dropdown-toggle:hover > *{
	color: white;
}
.navbar .navbar-brand span {
	text-decoration: underline;
}
.nav.navbar-nav.navbar-right li {
	padding-right: 20px;
}

.navbar-inverse .navbar-nav>li>a, .navbar li.dropdown a.dropdown-toggle > * {
    color: #FFD747;
}
.navbar-inverse .navbar-nav .active > a, .navbar li.dropdown.open a.dropdown-toggle > *, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: rgb(131,131,131);
    color: white!important;
}
.navbar-inverse .navbar-toggle {
	background-color: #ddd;
	border:none;
}
.navbar-inverse .navbar-collapse{
	border: none;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

section {
	padding: 2em 0 5em 0;
}

section:not(.hero-section) .row {
	padding-bottom: 1em;
}
hr {
	border-color: inherit;
}

/*FAQ Page*/
.faq-list .answer {
	margin-bottom: 1.5em;
	margin-top: 0.25em;
	font-weight: 200;
}
.faq-list .question h4 {
	font-weight: 400;
}

/*Hero Section CSS*/
section.hero-section {
		color: white;
	background-color: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(137deg, #50B5C1 0%, #6450A0 85%); /* FF3.6-15 */
	background: -webkit-linear-gradient(137deg, #50B5C1 0%, #6450A0 85%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(137deg, #50B5C1 0%, #6450A0 85%);
	background: linear-gradient(137deg, #50B5C1 0%, #6450A0 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50B5C1', endColorstr='#6450A0', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}
@media (min-width: 991px) {
	.hero-section {
		padding: 0;
		margin-bottom: -98px;
	}
}

section.hero-section .btn-row {
	padding-top: 56px;
}

section.hero-section a {
	color: #ddd;
}
section.hero-section a:visited, section.hero-section a:hover {
	color: #ddd;
}

.btn {
	font-size: 12px;
	color: #896D0B;
	padding: 12px 28px;
	border-radius: 100px;
	margin-top: 1em;
	text-transform: uppercase;
}
.hero-section .signup-btn {
	background-color: #FFD747;
	color: #896D0B;
	border: 2px #FFD747 solid;
}

.hero-section .signup-btn:hover {
	color: #FFD747;
	background-color: #896D0B;
	border: 2px #896D0B solid;
}

.btn:hover {
	background-color: white;
	color: #1e5799;
	border-color: white;
}

.demo-btn {
	background-color: transparent;
	color: white;
	border-color: white;
	border-width: 2px;
}

.demo-btn:focus, .hero-section .demo-btn:hover {
	color: #ECEEF0;
	background-color: white;
	border-color: white;
}

section.hero-section .row-img {
	margin-top: 43px;
}

/*
** Features Section
*/

.features-section {

	background: white;
	color: #C2C5C6
}

@media (min-width: 991px) {
	.features-section {
		padding-top: 176px;
	}
}

.features-section .row.intro > h1 {
	color: #7B7D7F;
	font-size:2.5em;
	font-weight:500;
	padding-bottom: 0.8em;
}

.features-section .row.intro > p {
	color: #7B7D7F;
	font-size:1.2em;
	font-weight:300;
}

.features-section .row-list {
	padding: 2em 0;
}
.features-section .row-list .header {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	color: #7B7D7F;
	letter-spacing: 0.02px;
}
.features-section .row-list .description {
	font-weight:300;
	margin-left: 1.2em;
	margin-top: 0.2em;
	color: #ACAFB1;
	line-height: 24px;
}

/*
** Opensource Section
*/

.opensource-section {
	background-color: #40A2CE; /* Old browsers */
	background: -moz-linear-gradient(137deg, #40A2CE 0%, #70C2E2 85%); /* FF3.6-15 */
	background: -webkit-linear-gradient(137deg, #40A2CE 0%, #70C2E2 85%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(137deg, #40A2CE 0%, #70C2E2 85%);
	background: linear-gradient(137deg, #40A2CE 0%, #70C2E2 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40A2CE', endColorstr='#70C2E2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
	margin-bottom: -200px;
	color: white;
}

.opensource-section .row-list {
	padding-bottom: 4em;
	padding-top: 1.5em;
}

.opensource-section .row-list .header {
	text-transform: uppercase;
	font-weight: 600;
	color: #7b7d7f;
	padding-bottom: 1em;
}

.opensource-section .row-list .header h1 {
}

.opensource-section .row-list .description {
	font-size: 1em;
	font-weight:300;
}

/*
** Testimonials Section
*/

.testimonials-section {
	background: white;
	color: #C2C5C6
}

.testimonials-section h1 {
	color: #7B7D7F;
}

/*
** Hosting Section
*/
.host-section {
	background-color: #B9E2A7;
	color: white;
}
@media (min-width: 991px) {
	.host-section {
		padding-bottom: 0;
		padding-top: 120px;
	}
}
.host-section > .container-fluid {
	padding-top: 2em;
	padding-bottom: 4em;
}

/*
** Stats Section
*/

.stats-section {
	background: white;
	color: #7B7D7F;
}

.stats-section .stat-icon {
	font-size: 2.5em;
}
.stats-section .stat-num {
	font-size: 32px;
	font-weight: 900;
}
.stats-section .stat-name {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.stats-section .stat-description {
	font-weight: 500;
	padding-top: 0.2em;
}

.stats-section .stat-description hr {
	width: 5%;
	border-width: 0.2em;
}

/*
** Newsletter Section
*/

.newsletter-section {
	/*background-color: #7B7D7F;*/
	background-image: url("http://brainandstorm.com/wp-content/uploads/CN-Tower-Grey-Skies-1600.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -150px;
	color: #7B7D7F;
	padding-bottom: 7em;
	padding-top: 3em;
}

.newsletter-section h1 {
	padding-bottom: 0.2em;
}

.newsletter-section form {
	padding-bottom: 2em;
	padding-top: 3em;
}

.newsletter-section form input[type="email"] {
	padding: .8em 2.2em;
	border-radius: 0.2em;
	border: none;
	color: #7B7D7F;
	width: 100%
}

.newsletter-section .btn.demo-btn:hover {
	background-color: #7B7D7F;
	color: #DADBDD;
}

.newsletter-section form input[type="submit"] {
	border: none;
	font-size: 1.0em;
	padding: .8em 2.2em;
	border-radius: 0.2em;
	background-color:#DADBDD;
	color: #7B7D7F;
	margin-left:4.5em;
}
