.footer-basic-centered {
    background-color: #434658;
	color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 45px;
}


.footer-basic-centered .footer-company-name > h1 {
    color: #646466;
    font-size: 1.6em;
    margin: 0;
	padding-bottom: 7px;
}

.footer-basic-centered .footer-company-name > small {
	font-size: 12px;
	color: #ACAFB1;
	text-transform: uppercase;
	padding-bottom: 15px;
}

.footer-basic-centered .footer-company-name > hr {
	border-color: #B6B8BA;
	width: 5%;
}

.footer-basic-centered .footer-links {
    list-style: none;
    font-weight: 500;
    margin: 0;
	padding-bottom: 2em;
	font-size: 16px;
}

.footer-basic-centered .footer-links a {
	color: #ACAFB1;
    display:inline-block;
    text-decoration: none;
	padding: 0 1em;
}

.footer-basic-centered .footer-links a:hover, .footer-basic-centered .footer-links a:focus {
	color: #646466;
}

.footer-basic-centered .footer-copyright {
	color: #7B7D7F;
	font-style: italic;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

    .footer-basic-centered{
        padding: 35px;
    }

    .footer-basic-centered .footer-company-motto{
        font-size: 18px;
    }

    .footer-basic-centered .footer-company-name{
        font-size: 12px;
    }

    .footer-basic-centered .footer-links{
        font-size: 14px;
        padding: 25px 0 20px;
    }

    .footer-basic-centered .footer-links a{
        line-height: 1.8;
    }
}
