.footer-basic-centered{
    background-color: #ECEEF0;
	color: #B6B8BA;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 45px;
}


.footer-basic-centered .footer-company-name > h1 {
    color: #646466;
    font-size: 1.6em;
    margin: 0;
}

.footer-basic-centered .footer-company-name > small {
	font-size: 0.6em;
	text-transform: uppercase;
}

.footer-basic-centered .footer-company-name > hr {
	border-color: #B6B8BA;
	width: 5%;
}

.footer-basic-centered .footer-links {
    list-style: none;
    font-weight: 500;
    margin: 0;
	padding-bottom: 2em;
}

.footer-basic-centered .footer-links a {
    display:inline-block;
    text-decoration: none;
    color: inherit;
	padding: 0 1em;
	font-size: 0.8em;
}

.footer-basic-centered .footer-links a:hover, .footer-basic-centered .footer-links a:focus {
	color: #646466;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

    .footer-basic-centered{
        padding: 35px;
    }

    .footer-basic-centered .footer-company-motto{
        font-size: 18px;
    }

    .footer-basic-centered .footer-company-name{
        font-size: 12px;
    }

    .footer-basic-centered .footer-links{
        font-size: 14px;
        padding: 25px 0 20px;
    }

    .footer-basic-centered .footer-links a{
        line-height: 1.8;
    }
}
