.form-item {
	text-align: center;
	border-bottom: 6px inset #ccc;
	background-color: #eee;
	width: 180px;
	/*width:100%;*/
	position: relative;
	height: 215px;
	/*padding-bottom: 25%;*/
	margin-bottom: 45px;
}
.form-item.create-new input[type='text']{
	width: inherit;
	color:black;
	border:none;
}

.form-item.create-new {
	background-color: rgb(131,131,131);
	color: white;
}

/*CREATE-NEW FORM MODAL*/
.form-item.create-new.new-form {
	background-color: rgb(300,131,131);
	z-index: 11;
}
.form-item.create-new.new-form:hover {
	background-color: rgb(300,100,100);
}
.form-item.new-form input[type='text'] {
	margin-top:0.2em;
	width: inherit;
	color:black;
	border:none;
	padding: 0.3em 0.6em 0.3em 0.6em;
}
.form-item.new-form .custom-select {
	margin-top: 0.2em
}
.form-item.new-form .custom-select select {
	background-color: white;
}


.form-item.new-form .details-row {
	margin-top: 1em;
}
.form-item.new-form .details-row.submit {
	margin-top: 1.7em;
}
.form-item.new-form .details-row.submit .btn {
	font-size: 0.95em;
}

.form-item.new-form .title-row {
	margin-top: 1em;
	top:0;
}

/* Styles for form list view (/forms) */
section.public-form {
	padding: 0 10% 0 10%;
}
section.public-form .form-submitted {
	height: 100vh;
}

section.public-form .btn {
	border: 1px solid;
}

.form-item {
	text-align: center;
	border-bottom: 6px inset #ccc;
	background-color: #eee;
	width: 180px;
	/*width:100%;*/
	position: relative;
	height: 215px;
	/*padding-bottom: 25%;*/
	margin-bottom: 45px;
}
.form-item.create-new input[type='text']{
	width: inherit;
	color:black;
	border:none;
}

.form-item.create-new {
	background-color: rgb(131,131,131);
	color: white;
}

/*CREATE-NEW FORM MODAL*/
.form-item.create-new.new-form {
	background-color: rgb(300,131,131);
	z-index: 11;
}
.form-item.create-new.new-form:hover {
	background-color: rgb(300,100,100);
}
.form-item.new-form input[type='text'] {
	margin-top:0.2em;
	width: inherit;
	color:black;
	border:none;
	padding: 0.3em 0.6em 0.3em 0.6em;
}
.form-item.new-form .custom-select {
	margin-top: 0.2em
}
.form-item.new-form .custom-select select {
	background-color: white;
}


.form-item.new-form .details-row {
	margin-top: 1em;
}
.form-item.new-form .details-row.submit {
	margin-top: 1.7em;
}
.form-item.new-form .details-row.submit .btn {
	font-size: 0.95em;
}

.form-item.new-form .title-row {
	margin-top: 1em;
	top:0;
}

/*Modal overlay (for lightbox effect)*/
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.5);
	z-index: 10;
}
.overlay.submitform {
	background-color: rgb(256,256,256);
	background-color: rgba(256,256,256,0.8);
}
.field-directive {
	z-index: 9;
	padding: 10% 10% 10% 0;
	border: 25px transparent solid;
	position: relative;
}
.activeField {
	z-index: 11;
	position: relative;
	background-color: transparent;
}
.activeField.field-directive {
	display: inline-block;
	border-radius: 7px;
	width: 100%;
	border: 25px transparent solid;
}
.activeField input {
	background-color: transparent;
}

.form-item:hover, .form-item.create-new:hover {
	border-bottom: 8px inset #ccc;
	background-color: #d9d9d9;
}

.form-item.create-new:hover {
	background-color: rgb(81,81,81);
}

.form-item > .row.footer {
	position: absolute;
	bottom: 0;
	left: 30%;
}

.form-item .title-row{
	position: relative;
	top: 15px;
	padding-top:3em;
	padding-bottom:3.65em;
}
.form-item .title-row h4 {
	font-size: 1.3em;
}

.form-item.create-new  .title-row{
	padding: 0;
}
.form-item.create-new  .title-row h4 {
	font-size: 7em;
}

.form-item .details-row{
	margin-top: 3.2em;
}
.form-item  .details-row small {
	font-size: 0.6em;
}
.form-item.create-new  .details-row small {
	font-size: 0.95em;
}

